<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</div>
<header id="header" class="container <%= @body_id || 'default' %>" data-hook="home_header">
  <div class="masthead row">
    <div class='span4'>
      <%= link_to(image_tag('store/logo_blue.png'), root_path ) %>
    </div>
    <div id="header-menu" class='span8'>
      <ul class="nav nav-pills ">
        <li><%= link_to 'Home', spree.root_path %></li>
        <li><%= link_to 'Store', spree.products_path %>
        <li><%= link_to 'Gallery', spree.gallery_path %></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact-us">Contact</a></li>
        <%= render :partial => 'spree/shared/login_bar' %>
        <li id="link-to-cart" data-hook><%= link_to_cart %></li>     
      </ul>
   </div>
  </div>
</header> 
<% if content_for?(:hero_unit) %> 
<div id="banner" class="clearfix">
  <div id="banner-content" class="container">  
    <%= yield :hero_unit %>
  </div>
</div>
<% end %>
<div id="wrapper" class="container">

     
  <% if content_for?(:sidebar) %> 
    <div id="content" class="row" data-hook>
      <aside id="sidebar" class="span2" data-hook>
      <%= yield :sidebar %>
      </aside>
      <div class="<%= !content_for?(:sidebar) ? "span12" : "span10" %>">
      <%= breadcrumbs(@taxon) %>
      <%= flash_messages %>
      <%= yield %>
      </div>
    </div>
  <% else %>
    <div id="content">
      <%= breadcrumbs(@taxon) %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  <% end %>   
</div>
<footer id="footer" data-hook>
  <div class="container">
    <div class='row'>
      <div class="span3" data-hook>
        <h4>Product</h4>
        <ul class="unstyled">
          <li><%= link_to 'Home', spree.root_path %></li>
          <li><a href="#">FAQ</a></li>
       
        </ul>
      </div>
      <div class="span3" data-hook>
        <h4>More</h4>
        <ul class="unstyled">
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="footer-floor">
    <div class="container">
      <div class="row">
        <div class="span8">
          <p>&copy; PortraitsinFabric.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<%= render :partial => 'spree/shared/google_analytics' %>

</body>